#wrapper{
    margin: 0 auto;
    max-width:500px;
    max-height:600px;
    padding: 10px;
    padding-left:100px;
    background-color: #B2CAF6;
    border: 2px solid #475162;
}
h3,p{
    font-family: "Georgia", sans-serif;
}
@media screen and (max-width:530px){
    #wrapper{
        padding: 2px;
    }
}
